h1 {
  font-family: "LuckiestGuy", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 64px;
  margin-top: 0px !important;
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/6.Botones/Start/ocean_Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "LuckiestGuy", sans-serif;
  flex-direction: column;
  background-color: black;
}

.game-container {
  width: 100vw;
  height: 100vh;
  max-width: 720px;
  max-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

#start-screen,
#instructionsOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#start-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 760px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#start-btn,
#instructions {
  display: none;
  max-width: 220px;
  width: 30%;
  margin: 10px;
  cursor: pointer;
  z-index: 2;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 100;
}

.navigation button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#instructionsButton {
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.mobileJoystick {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  gap: 12px;
  z-index: 1000;
  max-width: 720px;
  width: 100%;
}

.mobileJoystick button {
  width: 42px;
  height: 42px;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 8px;
}

.mobileJoystick button img {
  width: 22px;
  height: 22px;
  filter: invert(1);
}

.instructions {
  max-width: 80%;
  height: auto;
}

.instructionGuide {
  color: white;
  text-align: center;
  margin-top: 12px;
}

#close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(1);
  z-index: 30;
}

#close-btn img {
  width: 100%;
  height: 100%;
}

.opacity {
  opacity: 0;
  visibility: hidden;
}

.d_none {
  display: none;
}

.instructionGuide {
  color: white;
}

#rotate-device-overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  padding: 20px;
}

.game-over-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 1000;
}

.try-again-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  cursor: pointer;
  z-index: 1001;
}

.win-screen-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 1000;
}

.try-again-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  cursor: pointer;
  z-index: 1001;
}


@media only screen and (max-width: 1024px) {
  .mobileJoystick {
    display: flex;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100%;
  }
  .navigation {
    right: 60px;
  }
}

@media only screen and (max-height: 390px) {
  .navigation {
    right: 90px;
  }
}

@media only screen and (max-height: 350px) {
  .navigation {
    right: 110px;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .game-container {
    width: 100% !important;
  }
}

@media only screen and (max-height: 600px) {
  h1 {
    display: none;
  }

  .game-container {
    height: 100% !important;
  }
}
